/* wallust template at ~/.config/wallust/templates/colors-rofi.rasi */

* {
active-background: #503B39;
active-foreground: #F7B2A9;
normal-background: #141111;
normal-foreground: #F7B2A9;
urgent-background: #813738;
urgent-foreground: #F7B2A9;

alternate-active-background: #503B39;
alternate-active-foreground: #F7B2A9;
alternate-normal-background: #141111;
alternate-normal-foreground: #F7B2A9;
alternate-urgent-background: #141111;
alternate-urgent-foreground: #F7B2A9;

selected-active-background: #503B39;
selected-active-foreground: #141111;
selected-normal-background: #503B39;
selected-normal-foreground: #141111;
selected-urgent-background: #503B39;
selected-urgent-foreground: #141111;

background-color: #141111;
background: rgba(0,0,0,0.7);
foreground: #F7B2A9;
border-color: #503B39;

color0: #3E3B3B;
color1: #4B3836;
color2: #4B3836;
color3: #4B3836;
color4: #4B3836;
color5: #6F3536;
color6: #C04332;
color7: #EB897C;
color8: #A46057;
color9: #503B39;
color10: #503B39;
color11: #503B39;
color12: #503B39;
color13: #813738;
color14: #E9331B;
color15: #EB897C;


}

