/* wallust template at ~/.config/wallust/templates/colors-rofi.rasi */

* {
active-background: #5C9DAF;
active-foreground: #EADCCC;
normal-background: #121314;
normal-foreground: #EADCCC;
urgent-background: #C48F58;
urgent-foreground: #EADCCC;

alternate-active-background: #5298AD;
alternate-active-foreground: #EADCCC;
alternate-normal-background: #121314;
alternate-normal-foreground: #EADCCC;
alternate-urgent-background: #121314;
alternate-urgent-foreground: #EADCCC;

selected-active-background: #5C9DAF;
selected-active-foreground: #121314;
selected-normal-background: #5C9DAF;
selected-normal-foreground: #121314;
selected-urgent-background: #5298AD;
selected-urgent-foreground: #121314;

background-color: #121314;
background: rgba(0,0,0,0.7);
foreground: #EADCCC;
border-color: #5C9DAF;

color0: #3C3D3E;
color1: #3E545B;
color2: #4B7F8E;
color3: #4B7F8E;
color4: #53838F;
color5: #987249;
color6: #987249;
color7: #D9C4AE;
color8: #98897A;
color9: #435E66;
color10: #5298AD;
color11: #5298AD;
color12: #5C9DAF;
color13: #C48F58;
color14: #C48F58;
color15: #D9C4AE;


}

